<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Categories</title>
  <link href="/vendor/datatables/css/jquery.dataTables.min.css" rel="stylesheet" />
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
  <link href="/css/style.css" rel="stylesheet" />

  <style>
    td.indent-1 { padding-left: 20px; }
    td.indent-2 { padding-left: 40px; }
    td.indent-3 { padding-left: 60px; }
    td.indent-4 { padding-left: 80px; }
    td.indent-5 { padding-left: 100px; }
  </style>
  <style>
  #main-wrapper {
    display: block !important;
    opacity: 1 !important;
    visibility: visible !important;
  }
</style>

</head>